.feedback {
    background-color: #eee;
    background: left/cover no-repeat url("../img/photo\ subscribe.jpg");
}

.feedback__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 97px 0 126px;
}

.feedback__review {
    text-align: center;
    width: 360px;
}

.feedback__review-text {
    margin-top: 30px;
    font-size: 20px;
    line-height: 24px;
}

.review-italic {
    font-style: italic;
}

.feedback__subscribe {
    width: 557px;
    text-align: center;
}

.feedback__subscribe-title {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 167.2%;
}

.feedback__subscribe-text {
    font-size: 18px;
    color: #222224;
    text-transform: uppercase;
    line-height: 167.2%;
}

.feedback__subscribe-form {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.feedback__input {
    background: #e1e1e1;
    border: none;
    padding: 15px 22px;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
}

.feedback__button {
    display: block;
    background-color: $main-color;
    border: none;
    padding: 15px 22px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @include color-transition;
    animation: getattention 5s infinite;
}

.feedback__button:hover {
    color: $main-color;
    background-color: #fff;
    outline: 1px solid $main-color;
    box-shadow: none;
}
