.product-info {
    padding: 65px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #eaeaea;
    transform: translateY(-65px);
    background: #fff;
}

.product-info__collection-name {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: $main-color;
    text-align: center;
    margin-bottom: 27px;
}

.product-info__product-name {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4d4d4d;
    text-align: center;
    margin-bottom: 48px;
}

.product-info__description {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5e5e5e;
    max-width: 555px;
    margin-bottom: 32px;
}

.product-info__price {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #ef5b70;
    text-align: center;
    margin-bottom: 65px;
}

.product-info__line {
    border: 1px solid #eaeaea;
    width: 65%;
    margin-bottom: 65px;
}

.product-info__select-box {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 48px;
}

.product-info__cart-button {
    font-size: 16px;
    line-height: 19px;
    color: #f26376;
    border: 1px solid;
    background: transparent;
    padding: 15px 0 10px;
    width: 212px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @include color-transition;

    &:hover {
        color: #fff;
        background: $main-color;
        & .product-info__cart-icon {
            fill: #fff;
        }
    }
}

.product-info__cart-icon {
    fill: $main-color;
    margin-right: 23px;
    transition: fill 0.6s;
}
