@keyframes getattention {
    1% {
        transform: rotate(-5deg);
    }
    2% {
        transform: rotate(5deg);
    }
    3% {
        transform: rotate(-5deg);
    }
    4% {
        transform: rotate(5deg);
    }
    5% {
        transform: rotate(-5deg);
    }
    6% {
        transform: rotate(5deg);
    }
    7% {
        transform: rotate(0);
    }
}

@-webkit-keyframes tilt-in-top-1 {
    0% {
        -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
        transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
        transform: rotateY(0deg) translateY(0) skewY(0deg);
        opacity: 1;
    }
}
@keyframes tilt-in-top-1 {
    0% {
        -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
        transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
        transform: rotateY(0deg) translateY(0) skewY(0deg);
        opacity: 1;
    }
}
