* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}
::-webkit-details-marker {
    display: none;
}
summary {
    display: block;
}
